<div class="col-10">

    <table class="table">
        <tr>
            <th scope="col">Placering</th>
            <th scope="col">Model</th>
            <th scope="col">Antal</th>
            <th scope="col">Ændring Antal (%)</th>
            <th scope="col">Slet</th>
            
        </tr>
        <tr *ngFor="let i of (eCars$ | async); let even = even" [ngClass]="{ 'evenRow': even, 'oddRow': !even }" >
            <td scope="row">
                {{i.rank}}
            </td>
            <td>
                {{i.model}}
            </td>
            <td>
                {{i.quantity}}
            </td>
            <td>
                {{i.changeQuantityPercent}}
            </td>
            <td>
                <button (click)="removeECar(i.id)">Slet</button>
            </td>
        </tr>
    </table>
</div>