<input type="text" [(ngModel)]="input"/>
<p *ngIf="((input | morseMd5:'morse' | async)) as morse">
    {{morse['contents']['translated']}}
</p>
<p *ngIf="((input | morseMd5:'md5' | async)) as hash">
    {{hash}}
</p>

<!-- <div class="col-10">

    <table class="table">
        <tr>
            <th scope="col">Placering</th>
            <th scope="col">Model</th>
            <th scope="col">Antal</th>
            <th scope="col">Ændring Antal (%)</th>
            <th scope="col">Slet</th>
            
        </tr>
        <tr *ngFor="let i of (eCars$ | async); let even = even" [ngClass]="{ 'evenRow': even, 'oddRow': !even }" >
            <td scope="row">
                {{i.rank}}
            </td>
            <td>
                {{i.model}}
            </td>
            <td>
                {{i.quantity}}
            </td>
            <td>
                {{i.changeQuantityPercent}}
            </td>
            <td>
                <button (click)="removeECar(i.id)">Slet</button>
            </td>
        </tr>
    </table>
</div> -->
<div class="col-10">
    <table mat-table [dataSource]=eCars$ class="mat-elevation-z8" multiTemplateDataRows>
        <ng-container matColumnDef="rank">
            <th mat-header-cell *matHeaderCellDef> Rank </th>
            <td mat-cell *matCellDef="let element"> {{element.rank}} </td>
        </ng-container>
    
        <ng-container matColumnDef="model">
            <th mat-header-cell *matHeaderCellDef> Model </th>
            <td mat-cell *matCellDef="let element"> {{element.model}} </td>
        </ng-container>
    
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Antal </th>
            <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>
    
        <ng-container matColumnDef="changeQuantityPercent">
            <th mat-header-cell *matHeaderCellDef> Ændring Antal (%) </th>
            <td mat-cell *matCellDef="let element"> {{element.changeQuantityPercent}} </td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Slet </th>
            <td mat-cell *matCellDef="let element">
                <button (click)="removeECar(element.id)" class="button">Slet</button>
            </td>
        </ng-container>
        <ng-container matColumnDef="expandedEdit">

            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                <div class="example-element-detail"
                     [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                     <form [formGroup]="loginData" (ngSubmit) = "onLoginSubmit()">
 
                        <input type="text" name="username" formControlName = "username"> 
                        <input type="password" name="password" formControlName = "password"> 
                        <input type="submit" value="Login">
                      
                      </form>

                </div>
            </td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        
        <tr mat-row *matRowDef="let element; columns: displayedColumns;let even = even"
        [ngClass]="{ 'evenRow': even, 'oddRow': !even }"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedEdit']" class="example-detail-row"></tr> 
    </table>
        

</div>